.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // place-items: center;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  // gap: 20px;
}

@media screen and (max-width: 400px) {
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
